@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Styles pour le menu hamburger */
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  /* Styles pour le menu responsive */
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

body {
  font-family: 'Montserrat';
  margin: 0;
  margin-bottom: 10vh;
}



.bold {
  font-weight: bold;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}


.text-center {
  text-align: center;
}


.text-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}


table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 200px;
}

.contact-section {
  margin: 25px 25%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit-btn {
  background-color: dodgerblue;
  /* Green */
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.carousel-container {
  max-width: 325px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.slides {
  display: flex;
}

.slides img {
  width: 100%;
  height: auto;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

footer {
  background-color: #313030;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  height: 150px;
  display: block;
}

.banner-image {
  width: 100%;
  /* Assurez-vous que l'image occupe toute la largeur du header */
  height: 220px;
  /* Permet à l'image de conserver son ratio */
  display: block;
  /* Pour s'assurer qu'elle occupe tout l'espace horizontal */
}

/* Styles pour le header */
header {
  position: relative;
  /* Position relative pour que les éléments internes soient positionnés par rapport à ce conteneur */
}

/* Styles pour le texte du header */
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  /* Couleur du texte */
}

.header-text h1 {
  font-size: 3em;
  margin: 0;
  text-align: center;
}




/*                   style CSS collection Retrogaming                        */



.texte-titre {
  text-align: center;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
}

.haut-body-C {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  padding: 10px;
}

.L-Nitendo-C {
  display: flex;
  justify-content: center;
}

.logo-N {
  width: 200px;
  height: 50px;
}

.NES-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-press-consoles {
  text-align: center;
}

.image-consoles {
  width: 100px;
  height: 100px;
}

.carousel-container {
  display: flex;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: 20px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 24%;
  margin: 20px;
}

.carte-image-carousel {
  width: 100%;
  display: block;
}

.carousel-caption {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous {
  left: 0;
}

.carousel-container-SUPNES {
  display: flex;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: 20px;
}

.carousel-inner-SUPNES {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item-SUPNES {
  min-width: 24%;
  margin: 20px;
}

.carte-image-carousel-SUPNES {
  width: 100%;
  display: block;
}

.carousel-caption-SUPNES {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
}

.previous-SUPNES,
.next-SUPNES {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next-SUPNES {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous-SUPNES {
  left: 0;
}

#formulaire-body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.form-container {
background-color: #fff;
padding: 5px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
max-width: 400px;
}

/* Style des éléments du formulaire */
form h2 {
margin-bottom: 20px;
text-align: center;
}

form label {
display: block;
margin-bottom: 5px;
font-weight: bold;
}

form input {
width: 100%;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 4px;
}

form button {
width: 100%;
padding: 10px;
background-color: #007BFF;
border: none;
border-radius: 4px;
color: white;
font-size: 16px;
cursor: pointer;
}

form button:hover {
background-color: #0056b3;
}

.image-event {
  width: 60%;
  height: auto;
  border: 2px solid #000;
}

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.slides-container {
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
}
.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}